.tech-stack__group {        
    background: #1b1f24a1;
    width: 90%;    
    vertical-align: top;    
    margin: 50px 0 50px 0;
    display: inline-block;    
    padding: 25px;    
    border: 1px solid #2E343D;
}



.tech-stack__group__img {
    display: inline-block;   
    background-color: #c7c7c7; 
    border-radius: 5px;
    margin: 30px 25px 30px 25px;
    width: 100px;
    height: 100px;          
}

.eclipse{
    box-shadow: 0px 0px 12px #F7941E,0px 0px 24px #7755ff;
}

.pycharm{
    box-shadow: 0px 0px 12px #21D789, 0px 0px 24px #fffb1b;
}

.csharp{
    box-shadow: 0px 0px 24px #a15fd8;
}

.java{
    box-shadow: 0px 0px 12px #E76F00,0px 0px 24px #41b3ff;
}

.mongodb{
    box-shadow: 0px 0px 24px #4FAA41;
}
.red-shadow{
    box-shadow: 0px 0px 24px rgb(255, 61, 61);
}

.python{
    box-shadow: 0px 0px 12px #FFDD54,0px 0px 24px #2a9fff;
}

.github {
    box-shadow: 0px 0px 24px #000;
}

.html5{
    box-shadow: 0px 0px 24px #F16529;
}


.sass{
    box-shadow: 0px 0px 24px #CB6699;
}

.angular{
    box-shadow: 0px 0px 12px #FE31D0, 0px 0px 24px #7D09EF;
}

.js{
    box-shadow: 0px 0px 24px #F0DB4F;
}

.blue-shadow{
    box-shadow: 0px 0px 24px #1384C8;
}

.tech-stack__group__header {    
    font-size: 24px;
}

.tech-stack__group img {
    width: 100px;    
    height: 100px;
    padding: 20px;
}

@media (max-width: 815px) {

    .tech-stack__group{
        width: 90%;   
        margin-left: 0px;     
        margin-right: 0px;
    }

}
