.backdrop {
    width: 100vw;
    height: 100vh;
    z-index: 50;
    top: 0;
    left: 0;
    position: fixed;
    animation: backdrop-fade 0.8s ease forwards;
}


.hamburger-menu {
    z-index: 100;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 25%;
    height: 50%;
}

.hamburger-menu__menu-options {
    padding: 8px;
    width: 100%;    
    position: relative;
}

.hamburger-menu__menu-options__option {
    display: block;    
    position: relative;
    padding: 8px;
    font-size: 28px;
    text-align: center;
    cursor: default;
    color: rgb(197, 197, 197);
    margin: 10px;
    animation: text-appear 0.8s ease forwards;    
}

/* animations triggered once the hamburger menu is closed */
.backdrop-fade-out-menu {
    animation: backdrop-fade-out 0.8s ease forwards;
}

.option-text-disappear {    
    animation: text-disappear 0.8s ease forwards;
}

.hamburger-menu__menu-options__option:hover {
    animation: font-color-change 1s infinite alternate;
}

.hamburger-menu__close-btn i {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.hamburger-menu__close-btn {
    z-index: 100;
    position: absolute;
    right: 40px;
    top: 15px;
    background: none;
}


@keyframes font-color-change {

    from {
        color: rgb(230, 183, 97);
    }

    to {
        color: rgb(73, 119, 216);
    }

}

@keyframes backdrop-fade {

    from {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
    }
    
}

@keyframes backdrop-fade-out {

    from {
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
    }

    to {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
    }

}


@keyframes text-appear {

    to {
        color: rgba(197, 197, 197, 0.8);
    }

    from {
        color: rgba(197, 197, 197, 0);
    }

}


@keyframes text-disappear {

    from {
        color: rgba(197, 197, 197, 0.8);
    }

    to {
        color: rgba(197, 197, 197, 0);
    }

}