.vs-code-ui {
    width: 80%;
    height: 900px;
    position: relative;    
}
.vs-code-ui__main-content{
    width: 10%;    
}

@media (max-width: 1740px) {
    .vs-code-ui {
        width: 100%;
        height: 900px;
        margin-bottom: 40px;
    }

}

@media (max-width: 1280px) { .vs-code-ui {display: none;} }
