.vs-code-ui__navbar__menu,
.vs-code-ui__navbar__search,
.vs-code-ui__navbar__layout,
.vs-code-ui__navbar__window-options {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 8px;
    color: rgb(192, 192, 192);
    font-size: 14px;
}

.vs-code-ui{
    width: 80%;
    height: 900px;
    background-color: rgb(87, 74, 74);
    position: relative;
}


.vs-code-ui__navbar{
    height: 30px;
    background-color: #1f1f1f;
    padding: 4px;
}


.vs-code-ui__navbar__menu{
    width:30%;    
    position: absolute;
    top: 0;
    left: -8px;
}

.vs-code-ui__navbar__menu img{
    width: 15px;
}

.vs-code-ui__navbar__menu li{
    padding: 4px;
    height: 24px;   
    border-radius: 5px; 
}

.vs-code-ui__navbar__menu li+li:hover,
.vs-code-ui__navbar__layout i:hover
{
    background-color: rgb(61, 61, 61);
    color: rgb(211, 211, 211);
}

/* search menu */
.vs-code-ui__navbar__search {
    width: 40%;
    position: absolute;
    top: 0;
    left: 33%;   
}

.vs-code-ui__navbar__search li:last-child{
    position: absolute;
    right: 0px;
    top: 2px;
}

.vs-code-ui__navbar__search__search-input{
    border-radius: 5px;
    border: 1.5px  rgb(99, 99, 99) solid;    
    height: 22px;
    position: absolute;
    background-color: #303030;
    top: 3.6px;
    width: 85%;
    left: 10%;
}

.vs-code-ui__navbar__search__search-input:hover {
        background-color: #343434;
}


.vs-code-ui__navbar__search-arrows{
    position: absolute;
    left: -10px;
    top: 2px;
}

.vs-code-ui__navbar__search-arrows img{        
    margin-left: 4px;    
}

.vs-code-ui__navbar__search-search-icon{
    position: absolute;
    top: 1.5px;
    left: 44.3%;    
    transform: scaleX(-1);
    z-index: 10;
}

.vs-code-ui__navbar__search__search-input::placeholder {
    color: rgb(192, 192, 192);
    text-align: center;
}

/* end search menu */


/* layout menu */
.vs-code-ui__navbar__layout{
    width: 9%;
    right: 7%;
    position: absolute;
    top: 4px;
}

.vs-code-ui__navbar__layout i{
    padding: 4px;
    margin-left: -6px;
}


/* end layout menu */



/* window options menu */

.vs-code-ui__navbar__window-options{
    position: absolute;
    right: 0;
    top: 2px;
    width: 6%;
}

.vs-code-ui__navbar__window-options-maximize
{
    width: 20px;
    position: absolute;
    top: 2.3px;
    right: 37px;
}

.vs-code-ui__navbar__window-options-minimize{
    position: absolute;
    top: -7px;
    right: 72px;
}

.vs-code-ui__navbar__window-options-close{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.vs-code-ui__navbar__window-options-close:hover{
    background-color: red;
}

/* end window options menu */

/* right menu  */

.vs-code-ui__right-menu{
    width: 60px;
    height: 870px;
    background-color: #1f1f1f;
    padding: 4px;
    position: absolute;
    top: 31px;
}

.vs-code-ui__right-menu__options{
    width: 60px;
    height: 200px;
}

.bottom{
    position: absolute;
    bottom: 0;
    height:120px;

}

.vs-code-ui__right-menu__options li{    
    margin-top: 15px;
}

.vs-code-ui__right-menu__options i:hover{
    color: rgb(241, 241, 241);
}

.flip{
    transform: scaleX(-1);
}

.white{
    color:#C0C0C0;
}

.large {
    font-size: 32px;    
}



/*  */


/*  */

.vs-code-ui__explorer{
    width: 180px;
    height: 870px;
    background-color: #1f1f1f;
    padding: 4px;
    position: absolute;
    top: 31px;
    left: 60px;
}

/*  */


/*  */

.vs-code-ui__console{
    position: absolute;
    bottom: 0;
    left: 240px;
    width: 84.4%;
    height: 230px;
    background-color: #1f1f1f;
}


/*  */



/*  */

.vs-code-ui__file-visualizer{
    position: absolute;
    left: 240px;
    height: 640px;
    width: 84.4%;
    background-color: #242424;
}

.vs-code-ui__file-visualizer__files-open{
    background-color: #1f1f1f;
    height: 40px;
}

.vs-code-ui__file-visualizer__files-open__file{
    width: 17%;
    height: 40px;
    font-size: 15px;
    color: #a8a8a8;
    background: #242424;
    position: absolute;
    
}

.vs-code-ui__file-visualizer__files-open__file  hr+img{
    width: 17px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.vs-code-ui__file-visualizer__files-open__file__title{
    position: absolute;
    left: 35px;
    top: 5px;
}

.vs-code-ui__file-visualizer__files-open__file__close{
    position: absolute;
    right: 6px;
    top: 7px;
    width: 20px;
}

.vs-code-ui__file-visualizer__file__lines{
    width: 3%;    
    position: absolute;
}

.vs-code-ui__file-visualizer__file__lines li{
    width: 50%;
    text-align: right;        
}

/*  */




.ui-separator{
    height: 1px;
    background-color: #474747;
    border: none;
}

.file{
    width: 83%;
    position: absolute;
    right: 0;
}

.vertical{
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;    
}

.blue {
    background-color: #4d7cff;
}