@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.presentation {
    height: 930px;
    position: relative;
    z-index: 10;        
}

.avatar_section {
    width: 20%;
    z-index: 10;    
    position: absolute;
    right: 0;
    height: 930px;
}

.avatar_section__hamburger {
    position: absolute;
    z-index: 100;    
    right: 40px;
    top: 15px;
    width: 35px;
}

.avatar_section__hamburger__btn {
    width: 35px;
    background: transparent;
}

.avatar_section__hamburger__btn:hover {
    animation: resize-img 1.6s infinite alternate;
}

.avatar_section__hamburger__btn img {
    width: 35px;
}


.avatar_section__wrapper {
    position: absolute;
    right: 9%;
    width: 300px;
    height: 400px;
    text-align: center;
    margin-top: 30px;

}

.avatar_section__image {
    z-index: 10;
    width: 200px;
    
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

.avatar_section__image img {
    width: 200px;
    filter: saturate(110%) brightness(115%);
    border-radius: 50px;
}


/* animated border css code */

.avatar_section__image::after,
.avatar_section__image::before {
    content: '';
    position: absolute;
    height: 97.5%;
    
    width: 102%;
    background-image: conic-gradient(from var(--angle),
            rgb(90, 10, 16),
            rgb(120, 16, 24),
            rgb(150, 20, 30),
            rgb(170, 20, 30),
            rgb(131, 122, 87),            
            rgb(173, 163, 123),
            rgb(209, 196, 151),
            rgb(211, 199, 157),
            rgb(90, 10, 16));
    top: 48.4%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 50px;
    animation: 5s spin linear infinite;
}

.avatar_section__image::before {
    filter: blur(1.2rem);
    opacity: 0.9;
}

.avatar-section__title {
    color: rgb(235, 235, 235);
    margin: 15px 0 15px 0;
    font-size: 30px;    
    font-weight: 100;
}

.avatar-section__position {
    color: rgb(235, 235, 235);
    font-size: 17px;    
    
}


@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}


@media (max-width: 1740px) {

    .presentation{
        height: 1400px;
    }
    .avatar_section {
        width: 100%;
        position: relative;
        height: 500px;        
    }

    .avatar_section__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

}