.experience {
    background: #1b1f24a1;
    width: 90%;    
    margin: 100px 0 100px 5%;
    border: 1px solid #2E343D;
    padding: 25px;            
}

.experience h2 {    
    margin-bottom: 15px;    
    text-align: center;
}

.experience span {    
    display: block;
    margin: 2px;    
    letter-spacing: 2px;
    
}

.experience h3 {             
    margin-bottom: 20px;
}


.experience-all-info{
    display: flex;
    flex-direction: row;        
}
.experience a {
    text-decoration: none;    
    font-weight: bold;
    color: rgb(155, 150, 128);
}
.experience li {    
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    margin-left: 0;    
}

.experience-main-tasks,.experience-job-info{    
    width: 50%;   
    text-align: center; 
}

.experience-logo{
    width: 70px;
    border-radius: 10px;
}



@media (max-width:1000px) {

.experience-main-tasks,.experience-job-info{    
    width: 100%;       
    margin: 2.5rem 0 2.5rem 0;
}
.experience-all-info{
    display: block;
    
}
    

}