.experience {
    background-color: rgba(30, 30, 30, 0.9);    
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* position: absolute; */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.experience h3 {
    color: rgb(223, 223, 223);
    margin-bottom: 15px;
}

.experience span {
    color: rgb(153, 153, 153);
    display: block;
    margin: 2px;
    text-align: left;
}

.experience h4 {

    margin-top: 20px;
    color: rgb(212, 212, 212);
    font-size: 20px;
    margin-bottom: 20px;

}

.experience a {
    text-decoration: none;
    color: rgb(187, 156, 97);
    font-weight: bold;
}

.experience li {
    display: list-item;
    color: rgb(153, 153, 153);
    font-size: 16px;
    padding: 4px;
    list-style-type: none;
}

@media (max-width: 740px) {

    .experience {
        width: 90%;
        margin-left: 5%;
    }

}

@media (max-width: 499px) {

    .experience {
        width: 90%;
        margin-left: 5%;
    }

}