.experience {
    background: #1b1f24a1;
    width: 90%;    
    margin: 100px 0 100px 5%;
    border: 1px solid #2E343D;
    padding: 25px;        
    position: relative;
    min-height: 450px;
}

.experience h2 {    
    margin-bottom: 15px;    
    text-align: center;
}

.experience span {    
    display: block;
    margin: 2px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: left;
}

.experience h3 {    
    text-align: left;        
    margin-bottom: 20px;

}

.experience a {
    text-decoration: none;    
    font-weight: bold;
    color: rgb(155, 150, 128);
}

.experience li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 20px;
    height: 20px;
    background-image: url("../../../assets/icons/arrow-narrow-right.svg");
    background-size: contain;
    background-position: -2px -3px;
    background-repeat: no-repeat;
}



.experience li {
    padding-left: 25px;
    position: relative;
    display: list-item;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    margin-left: 0;
    text-align: left;
}

.experience-main-tasks,.experience-job-info{
    position: absolute;
    width: 40%;
    top: 45%;
}

.experience-main-tasks{
    right: 5%;
}

.experience-logo{
    width: 70px;
    border-radius: 10px;
}