.project {
    width: 90%;
    left: 5%;    
    background: #1b1f24a1;
    position: relative;    
    padding: 25px;
    display: flexbox;
    border: 1px solid #2E343D;
    margin: 100px 0 100px 0;
}

.project h2{
    font-size: 28px;    
}

.project h3{
    font-size: 26px;
}

.project__title {
    text-align: center;    
    font-size: 25px;
    margin-top: 10px;
}

.project__visit{
    margin: 15px 0 15px 0;               
}


.project__visit a{
    text-decoration: none;
    color: #ad4040;
    font-weight: bold;
}

.project__logo-img {
    width: 150px;
    margin-top: 10px;
}

.project__techs-used {
    width: 90%;
    margin-top: 20px;
    position: relative;
    left: 5%;
    text-align: center;
}



.project__techs-used img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
    
    
}

.project__group__img {
    display: inline-block;
    background-color: #cac5c2;
    border-radius: 5px;
    margin: 30px 25px 30px 25px;
    width: 100px;
    height: 100px;
}

.project__description,.project__visit p  {    
    font-size: 20px;
}



.project__github__link {
    border: none;
    background: none;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    border-radius: 10px;
}

.project__github__link i {
    font-size: 35px !important;
    color: #ad4040;
    font-weight: bold;
}


.project__github {
    width: 150px;    
    position: absolute;
    top: 45px;
    border-radius: 5px;
    left: 15px;
    padding: 10px;
    background: #2E343D;

}

.project__github img {
    width: 60px;

    left: 0;
}

.appear {
    animation: appear 1s forwards;
}

.disappear {
    animation: appear 1s forwards reverse;
}

@keyframes appear {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

@media (max-width:770px) {
    .project__techs-used img {
        width: 60px;
        margin: 0 20px 0 20px;
    }

    .project {
        width: 90%;
    }
}