.project {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 90%;
    left: 5%;    
    background: #1b1f24a1;
    position: relative;    
    padding: 25px;
    display: flexbox;
    border: 1px solid #2E343D;
    margin: 100px 0 100px 0;
}

.project h2{
    font-size: 28px;    
}

.project h3{
    font-size: 26px;
}



.project__title {
    text-align: center;    
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project__visit{
    margin: 15px 0 15px 0;               
}


.project__visit a{
    text-decoration: none;
    color: #ad4040;
    font-weight: bold;
}

.project__logo-img {
    width: calc(100% + 50px);    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -25px;
    margin-top: -25px;
    transition: .5s ease;
}

.project-img-container{
    position: relative;
}

.project-img-container:hover img {
    opacity: 0.2;
    
}

.project-img-container:hover .project__github{
    opacity: 1;
}
.project__github a{
    text-decoration: none;
}


.project__techs-used {
    width: 90%;
    margin-top: 20px;
    position: relative;
    left: 5%;
    text-align: center;
}



.project__techs-used img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
    
    
}

.project__group__img {
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 5px;
    margin: 30px 25px 30px 25px;
    width: 100px;
    height: 100px;
}

.project__description,.project__visit p  {    
    font-size: 20px;
}



.project__github__link {
    
    background: #1b1f24a1;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 10px;
}

.project__github__link i {
    font-size: 35px !important;
    color: #ad4040;
    font-weight: bold;
}


.project__github {    
    position: absolute;    
    top: 50%;
    width: 70%;
    border-radius: 5px;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    padding: 10px;
    background: #2E343D;
    border:1px solid #686355;
    transform: translate(-50%, -50%);

}

.project__github img {
    width: 60px;

    left: 0;
}