.project {
    width: 40%;
    background-color: rgba(30, 30, 30, 0.9);
    position: relative;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 25px 0px 25px 0px;
}

.project__title {
    text-align: center;
    color: rgb(223, 223, 223);
    font-size: 25px;
    margin-top: 10px;
}

.project__logo-img {
    width: 150px;
    margin-top: 10px;
}

.project__techs-used {
    width: 90%;
    margin-top: 20px;
    position: relative;
    left: 5%;
    text-align: center;
}

.project__techs-used h4 {

    color: rgb(223, 223, 223);
    margin-bottom: 20px;
}

.project__techs-used img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
    
    
}

.project__group__img {
    display: inline-block;
    background-color: #cac5c2;
    border-radius: 5px;
    margin: 30px 25px 30px 25px;
    width: 100px;
    height: 100px;
}

.project__description {
    color: rgb(223, 223, 223);
    font-size: 20px;
}

.project__github__link {
    border: none;
    background: none;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    border-radius: 10px;
}

.project__github__link i {
    font-size: 35px !important;
    color: #ad6f3b;
}



.project__github__link i:hover {
    animation: pulse 1s infinite alternate;
}

.project__github {
    width: 150px;
    color: rgb(223, 223, 223);
    position: absolute;
    top: 45px;
    border-radius: 5px;
    left: 15px;
    background: rgb(133, 84, 39);

}

.project__github img {
    width: 60px;

    left: 0;
}

@keyframes pulse {
    from {

        color: #ad6f3b;
    }

    to {

        color: #5c70c5;
    }
}


.appear {
    animation: appear 1s forwards;
}

.disappear {
    animation: appear 1s forwards reverse;
}

@keyframes appear {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

@media (max-width:770px) {
    .project__techs-used img {
        width: 60px;
        margin: 0 20px 0 20px;
    }

    .project {
        width: 90%;
    }
}