.circle {    
    position:absolute;        
    z-index: -10;    
    animation-name: blue-orange-pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;             
}


@keyframes blue-orange-pulse {

    from{
        background-color: #8b7f5b;
    }

    to{
        background-color: #693a3a;
    }
    
}
