.certification {
    width: 90%;
    background: #1b1f24a1;
    position: relative;    
    padding: 25px;
    border: 1px solid #2E343D;
    display: inline-block;
    margin: 100px 0 100px 0;
}

.certification__header img{
    width: 90px;
    margin-bottom: 10px;
}

.certification__header a{
    text-decoration: none;
    color: rgb(187, 156, 97);
    font-weight: bold;
}


.certification__header span {
    color: rgb(153, 153, 153);
    display: block;
    text-align: left;
}

.certification__header h3{
    color: rgb(223,223,223);
    margin-bottom: 15px;
}

.certification__learned {

    margin-top: 20px;
    color: rgb(212, 212, 212);
    font-size: 20px;
    margin-bottom: 20px;

}

.certification__learned__list {
    margin-top: 20px;
    color: rgb(212, 212, 212);
    font-size: 20px;
    margin-bottom: 20px;
}

.certification__learned__list li {
    display: list-item;
    color: rgb(153, 153, 153);
    font-size: 16px;
    padding: 4px;
    list-style-type: none;
}

@media (max-width: 740px) {

    .certification{
        width: 90%;
    }

}