.certification {
    width: 90%;
    background: #1b1f24a1;
    position: relative;
    padding: 25px;
    border: 1px solid #2E343D;
    display: inline-block;
    margin: 100px 0 100px 0;
}

.certification h2 {
    text-align: left;
    margin-bottom: 20px;
}


.certification-obtained > div {
    margin-top: 110px;
}

.certification-obtained img {
    width: 180px;
    position: absolute;
    left: 25px;
}

.certification a {
    text-decoration: none;
    color: #ad4040;
    font-weight: bold;
}


.certification span {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: left;
    display: block;
    text-align: left;
}

.certification__header h3 {

    margin-bottom: 15px;
}

.certification__learned {

    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;

}

.cert-img{
    width:35%;
    
    position: absolute;
    left: 60%;
    filter: contrast(75%);
    top: 100px;
    box-shadow: 10px 5px 36px 4px #A435F0;
    border-radius: 5px;
}

.certification__learned__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 20px;
    height: 20px;
    background-image: url("../../../assets/icons/arrow-narrow-right.svg");
    background-size: contain;
    background-position: -2px -3px;
    background-repeat: no-repeat;
}

.certification__learned__list {
    width: 100%;
}

.certification__learned__list li {
    padding-left: 25px;
    position: relative;
    display: list-item;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    margin-left: 0;
    text-align: left;
}



@media (max-width: 740px) {

    .certification {
        width: 90%;
    }

}