.personal-projects {
    width: 100%;
    position: relative;      
    text-align: center;
}



.personal-projects__wrapper {
    width: 80%;
    position: absolute;
    text-align: center;
    left: 10%;
}

