.blur{
    position: relative;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
}

@media (max-width: 670px) {

    div[app-animated-bg]{
        display: none;
    }
}