.education-list {    
    width: 100%;    
    
    position: relative;
}

.education-list__wrapper {
    width: 100%;   
    margin: 10px 0 10px 0;
    text-align: center;
    padding: 2px;    
}

.education-header {
    color: rgb(223, 223, 223);
    padding: 5px;
    text-align: center;
    font-size: 36px;
    margin: 60px 0 10px 0;
}