.vs-code-ui__file-visualizer {
    position: absolute;
    left: 240px;
    height: 640px;
    width: calc(100% - 240px);
    background-color: #242424;
    border-right: 1px solid #474747;
}

.vs-code-ui__file-visualizer__files-open {
    background-color: #1f1f1f;
    height: 40px;
}

.vs-code-ui__file-visualizer__files-open__file {
    width: 17%;
    height: 40px;
    font-size: 15px;
    color: #a8a8a8;
    background: #242424;
    position: absolute;

}

.vs-code-ui__file-visualizer__files-open__file hr+img {
    width: 17px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.vs-code-ui__file-visualizer__files-open__file__title {
    position: absolute;
    left: 35px;
    top: 5px;
}

.vs-code-ui__file-visualizer__files-open__file__close {
    position: absolute;
    right: 6px;
    top: 7px;
    width: 20px;
}

.blue {
    background-color: #0e89e7;
}

.vs-code-ui__file-visualizer__file-content {
    border-collapse: collapse;
    border: 0px solid transparent;
    color: rgb(100, 100, 100);
    height: 600px;
    font-size: 15px;

}



.tag {
    color: #569cd6;
}


.attr {
    color: #a0ceda;
}


.value {
    color: #ce9178;
}


.text {
    color: #d4d4d4;
}


.doctype {
    color: #808080;
}

.vs-code-ui__file-visualizer__file-content tr> :not(td+td) {
    width: 50px;
    text-align: center;
}

@media (max-width: 1740px) {
    .vs-code-ui__file-visualizer__files-open__file {
        width: 19%;
    }
}

@media (max-width: 1340px) {
    .vs-code-ui__file-visualizer__files-open__file {
        width: 21%;
    }
}