.work-experience {
    width: 100%;
    position: relative;
    text-align: center;
}

.work-experience__header {    
    padding: 5px;
    text-align: center;
    font-size: 36px;
    margin: 60px 0 10px 0;
    
}