.education {
    width: 100%;        
    padding: 15px;
    margin: auto;    
    margin: 100px 0 100px 0;
    top: 0;        
    z-index: 10;    
    border-radius: 5px;
}


.education-skills img {
    width: 35px;
}

.education-separator {
    width: 70%;
    margin: auto;
    border: none;
    background-color: rgb(209, 136, 75);
    height: 0.7px;
    margin-bottom: 20px;
}

.education:last-child {
    top: 0;
    right: 0;

}

.education-img {
    border-radius: 20px;
    width: 100%;
    height: 170px;
    border-top: 2.5px solid rgb(224, 187, 118);
    border-left: 2.5px solid rgb(224, 187, 118);
    border-right: 2.5px solid rgb(118, 160, 224);
    border-bottom: 2.5px solid rgb(118, 160, 224);
    margin-top: 5px;

}

.education-title-obtained {
    border-radius: 20px;
    border-top: 2.5px solid rgb(224, 187, 118);
    border-left: 2.5px solid rgb(224, 187, 118);
    border-right: 2.5px solid rgb(118, 160, 224);
    border-bottom: 2.5px solid rgb(118, 160, 224);
    width: 100%;
    padding: 0;
    height: 170px;
    position: absolute;
    top: 4px;
    text-align: center;
    z-index: 10;
    backdrop-filter: blur(10px);
    color: rgb(228, 228, 228);
    padding: 9px;
    background-color: rgba(61, 61, 61, 0.7);
}

@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}

.education-mark {
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    width: 150px;
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    color: #7e7e7e;            
    margin-top: 20px;
    display: block;
}

iframe {
    
    width: 30%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.education-mark,.education-subtitle,.education-skills,iframe{
    margin-left: 4%;
}

.education-title {
    padding: 10px;
    font-size: 28px;
    text-align: left;
    color: rgb(223, 223, 223);
    word-spacing: 3px;
    letter-spacing: 3px;
}

.education-subtitle {
    font-size: 22px;
    padding: 5px;
    text-align: left;
    color: rgb(190, 190, 190);
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.education-skills{
    
    text-align: left;
    width: 35%;        
}

.education-skills div{
    height: 80px;
    width: 80px;
    display: inline-block;
    background-color: #cac5c2;
    margin: 10px;
    border-radius: 5px;
}

.education-skills div:first-child {
    margin-left: 0;
}


.education-skills  img{ 
    width: 50px;
    height: 50px;
    
    margin: 15px; 
    
}

@media (max-width: 1300px) {

    .education {
        height: 700px;
    }


}


@media (max-width: 1880px) {

    .education {
        height: 710px;
    }


}


@media (max-width: 740px) {

    .education {
        width: 100%;
        top: -200px;

        position: relative;
    }

    .education-img,
    .education-title-obtained {
        width: 70%;
        height: 200px;
    }

    .education-title-obtained {
        left: 65px;
        top: 5px;
    }

    .education-subtitle {
        margin-top: 50px;
    }

}

@media (max-width:690px) {

    .education-img,
    .education-title-obtained {
        width: 100%;
        height: 200px;
    }

    .education-title-obtained {
        left: 0;
        
    }

}

@media (max-width: 500px) {

    .education {
            
            height: 740px;
    
            
        }

}