.education {
    width: 90%;
    padding: 1.5rem;      
    margin: auto;
    margin: 100px 0 100px 0;        
    margin-left: 5%;
    border: 1px solid #2E343D;
    background: #1b1f24a1;
}


.education hr {
    border: 1px solid #2E343D;
    height: 250px;        
    margin-top: 100px;
}

.education-center-logo {
    border-radius: 10px;
    width: 140px;
    margin-left: 0;
    height: 140px;
}

.green {
    color: #88b455;
}


.education-skills img {
    width: 35px;
}

.education-knowledge {
    width: 100%;
}

.education-knowledge li {
    margin-top: 2rem;
    list-style-image: url("../../../assets/icons/arrow-narrow-right.svg");
    margin-bottom: 2rem;    
    margin-left: 5rem;
    text-align: left;
}


.education-all-info {
    display: flex;
    width: 100%;
}

.education-main-info{
    width: 50%;
    
}

.education-obtained-at {                
    width: 50%;
    
}

.education-obtained-at h3 {
    text-align: center;
}

.education-obtained-at>span {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
}



@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}

.education-main-info h3 {
    text-align: center;
}

.education-mark {
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    width: 150px;    
    font-style: italic;
    text-decoration: underline;
    margin-top: 20px;
    display: block;
}

iframe {
    width: 85%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.education-title {
    padding: 10px;    
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 3px;
}

.education-subtitle {    
    padding: 5px;
    padding-left: 0;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.education-skills div {
    display: inline-block;
    background-color: #c7c7c7;
    margin: 15px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.education-skills img {
    width: 100px;
    height: 100px;
    padding: 20px;
}


.education-main-skills {
    width: 80%;
    margin-left: 10%;
}

.center {
    text-align: center;
}


@media (max-width:1200px) {

    .education hr {
        display: none;
    }

    .education-knowledge li {
        margin-left: 0rem;
        text-align: center;
        list-style: none;
    }

    .education-all-info{
        display: block;
    }

    .education-main-info, .education-obtained-at{
        width: 100%;
        margin: 0;
    }

        iframe {

            width: 90%;
        }

}

@media (max-width:793px) {
    .education-main-skills {
        top: 10%;
    }

}


@media (max-width:650px) {
    .education-title {
        font-size: 24px;
    }

    .education-main-skills {
        top: 10%;
    }

  
}



@media (max-width:465px) {

    .education-main-info li,
    .education-obtained-at span {
        font-size: 16px;
    }



    .education-title {
        font-size: 20px;
    }

}