.education {
    width: 90%;
    padding: 25px;
    height: 800px;
    margin: auto;
    margin: 100px 0 100px 0;
    top: 0;
    position: relative;
    left: 5%;
    border: 1px solid #2E343D;
    background: #1b1f24a1;
}

.education hr {
    border: 1px solid #2E343D;
    height: 250px;
    position: absolute;
    left: calc((100% - 2px) / 2);
    top: calc(35% + 125px);
}

.education-center-logo {
    border-radius: 10px;
    width: 140px;
    margin-left: 0;
    height: 140px;
}

.green {
    color: #88b455;
}


.education-skills img {
    width: 35px;
}

.education-knowledge li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 20px;
    height: 20px;
    background-image: url("../../../assets/icons/arrow-narrow-right.svg");
    background-size: contain;
    background-position: -2px -3px;
    background-repeat: no-repeat;
}

.education-knowledge {
    width: 100%;
}

.education-knowledge li {
    padding-left: 25px;
    position: relative;
    display: list-item;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    margin-left: 0;
    text-align: left;
}

.education-main-info {
    position: absolute;
    left: 5%;
    top: 35%;
    height: 500px;
    width: 40%;
}

.education-obtained-at {
    position: absolute;
    top: 35%;
    height: 500px;
    right: 5%;
    width: 40%;
}

.education-obtained-at h3 {
    text-align: center;
}

.education-obtained-at>span {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
}



@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}

.education-mark>span {
    font-size: 22px;

}

.education-main-info h3 {
    text-align: center;
}

.education-mark {
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    width: 150px;
    font-size: 22px;
    font-style: italic;
    text-decoration: underline;
    margin-top: 20px;
    display: block;
}

iframe {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.education-title {
    padding: 10px;
    font-size: 28px;
    text-align: left;

    word-spacing: 3px;
    letter-spacing: 3px;
}

.education-subtitle {
    font-size: 22px;
    padding: 5px;
    padding-left: 0;
    text-align: left;

    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;

}





.education-skills div {
    display: inline-block;
    background-color: #c7c7c7;
    margin: 15px;
    border-radius: 5px;
    height: 80px;
    width: 80px;
}




.education-skills img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}


.education-main-skills {
    width: 80%;
    left: 10%;
    position: absolute;
    top: 10%;
}

.center {
    text-align: center;
}


@media (max-width:960px) {

    .education hr {
        display: none;
    }

    .education-main-skills {
        top: 8%;
    }

    .education {
        height: 1380px;
    }

    .education-main-info,
    .education-obtained-at {
        width: 90%;
        position: relative;
        margin-bottom: 80px;
        top: 16%;
        left: 5%;
        height: 300px;
    }



}

@media (max-width:793px) {
    .education-main-skills {
        top: 10%;
    }

    .education-center-logo {
        width: 90px;
        height: 90px;
    }

    .education-main-info,
    .education-obtained-at {
        top: 25%;
    }
}


@media (max-width:650px) {
    .education-title {
        font-size: 24px;
    }

    .education-main-skills {
        top: 10%;
    }

    .education-main-info,
    .education-obtained-at {
        top: 23%;
        margin-bottom: 100px;
    }
}

@media (max-width:500px) {

    .education-main-info,
    .education-obtained-at {
        top: 22%;
        margin-bottom: 140px;
    }
}

@media (max-width:465px) {

    .education-main-info li,
    .education-obtained-at span {
        font-size: 16px;
    }

    .education-title {
        font-size: 20px;
    }

    .education-main-info,
    .education-obtained-at {
        top: 32%;
        margin-bottom: 110px;

    }

    .education {
        height: 1460px;
    }
}