.education {
    width: 90%;        
    padding: 25px;
    margin: auto;    
    margin: 100px 0 100px 0;
    top: 0;        
    z-index: 10;        
    margin-left: 5%;    
    border: 1px solid #4e4e4e;
    background: #35353528;
}


.education-skills img {
    width: 35px;
}

.education-knowledge li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;    
    width: 20px;
    height: 20px;
    background-image: url("../../../assets/icons/arrow-narrow-right.svg");
    background-size: contain;
    background-position: -2px -3px ; 
    background-repeat: no-repeat;
}

.education-knowledge li{
    font-size: 15px;   
    padding-left: 25px; 
    position: relative;
    display: list-item;
    color: aliceblue;    
    margin-top: 10px;
    margin-bottom: 10px;
    list-style:none;
    margin-left: 0;
    text-align: left;
}

.education-separator {
    width: 70%;
    margin: auto;
    border: none;
    background-color: rgb(209, 136, 75);
    height: 0.7px;
    margin-bottom: 20px;
}

.education:last-child {
    top: 0;
    right: 0;

}



@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}

.education-mark {
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    width: 150px;
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    color: #7e7e7e;            
    margin-top: 20px;
    display: block;
}

iframe {
    
    width: 30%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.education-mark,.education-subtitle,.education-skills,iframe,.education-knowledge{
    margin-left: 4%;
}

.education-title {
    padding: 10px;
    font-size: 28px;
    text-align: left;
    color: rgb(223, 223, 223);
    word-spacing: 3px;
    letter-spacing: 3px;
}

.education-subtitle {
    font-size: 22px;
    padding: 5px;
    padding-left: 0;
    text-align: left;
    color: rgb(190, 190, 190);
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.education-skills{    
    text-align: left;
    width: 50%;        
}

.education-skills div{
    height: 80px;
    width: 80px;
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #cac5c2;
    margin: 15px 15px 15px 0;
    border-radius: 5px;
}




.education-skills  img{ 
    width: 50px;
    height: 50px;    
    margin: 15px;     
}

@media (max-width: 1300px) {

    .education {
        height: 700px;
    }


}


@media (max-width: 1880px) {

    .education {
        height: 710px;
    }


}


@media (max-width: 740px) {

    .education {
        width: 100%;
        top: -200px;

        position: relative;
    }

    .education-img,
    .education-title-obtained {
        width: 70%;
        height: 200px;
    }

    .education-title-obtained {
        left: 65px;
        top: 5px;
    }

    .education-subtitle {
        margin-top: 50px;
    }

}

@media (max-width:690px) {

    .education-img,
    .education-title-obtained {
        width: 100%;
        height: 200px;
    }

    .education-title-obtained {
        left: 0;
        
    }

}

@media (max-width: 500px) {

    .education {
            
            height: 740px;
    
            
        }

}