:host{
    position: fixed;    
    right: 3px;
    top: 45%;
    z-index: 10;
    text-align: center;
}

.social-networks__container{
    list-style-type: none;  
    width: 65px;         
}

.social-networks__container__item:first-child{
    
    background-color: rgb(180, 173, 146);
    border-top-left-radius: 10px;
}

.social-networks__container__item:last-child {
    border-bottom-left-radius: 10px;
    background-color: rgb(155, 150, 128);
    margin-top: -1px;
}

.social-networks__container__item img {
    width: 60px;      
    position: relative;
    top: 3px;
}

.social-networks__container__item img:hover{
    animation: resize-img 1.1s infinite alternate;
}