:host{
    position: absolute;
    z-index: 10;
    right: 3px;
    top: 43%;
}

.social-networks__container{
    list-style-type: none;  
    width: 65px;         
}

.social-networks__container__item:first-child{
    background-color: rgb(235, 235, 235);
    border-top-left-radius: 10px;
}

.social-networks__container__item:last-child {
    border-bottom-left-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.social-networks__container__item img {
    width: 60px;        
    
    
}

.social-networks__container__item img:hover{
    animation: resize-img 1.1s infinite alternate;
}