/*CSS Reset*/
*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

li {
    display: inline-block;
    margin-left: 8px;
    color: rgb(192, 192, 192);
    font-size: 14px;
}

.ui-separator {
    height: 1px;    
    background-color: #474747;
    border: none;
}

.file {
    width: 83%;
    position: absolute;
    right: 0;
}

.vertical {
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

li:hover{
    cursor: pointer;
}

body{
    background-color: #121417;    
    font-family: 'poppins', sans-serif;
    
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes resize-img {

    10% {
        transform: scale(1.04);
    }

    20% {
        transform: scale(1.08);
    }

    30% {
        transform: scale(1.12);
    }

    40% {
        transform: scale(1.16);
    }

    50% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1.24);
    }

    70% {
        transform: scale(1.28);
    }

    80% {
        transform: scale(1.32);
    }

    90% {
        transform: scale(1.36);
    }

    100% {
        transform: scale(1.4);
    }

}

button {
    cursor: pointer;
    border: none;
}

@font-face {
    font-family: 'poppins';
    src: url('./fonts/poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}