/*CSS Reset*/
*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

li {
    display: inline-block;
    margin-left: 8px;
    color: rgb(192, 192, 192);
    font-size: 14px;
}

.ui-separator {
    height: 1px;
    background-color: #474747;
    border: none;
}

.file {
    width: 83%;
    position: absolute;
    right: 0;
}

.vertical {
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

li:hover{
    cursor: pointer;
}

body{
    background-color: rgb(68, 60, 53);
    font-family: 'poppins', sans-serif;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'poppins';
    src: url('./fonts/poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}