/*CSS Reset*/
* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vs-code-ui li {
    display: inline-block;
    margin-left: 8px;
    color: rgb(206, 205, 205);
    font-size: 14px;
}

.ui-separator {
    height: 1px;
    background-color: #474747;
    border: none;
}

.file {
    width: 83%;
    position: absolute;
    right: 0;
}

.vertical {
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.vs-code-ui li:hover {
    cursor: pointer;
}

p,
li,
span {
    color: rgb(207, 202, 183);
    font-size: 20px;
    font-weight: 500;
}


h1 {
    color: rgb(196, 189, 165);
    padding: 5px;
    text-align: center;
    font-size: 36px;
    margin: 60px 0 10px 0;
}

h2 {
    color: rgb(182, 175, 147);
    font-size: 30px;
}

h3 {
    color: rgb(155, 150, 128);
    font-size: 24px;
}

body {    
    background: linear-gradient(to bottom left, #121417, #383838, #121417);    
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes resize-img {

    10% {
        transform: scale(1.04);
    }

    20% {
        transform: scale(1.08);
    }

    30% {
        transform: scale(1.12);
    }

    40% {
        transform: scale(1.16);
    }

    50% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1.24);
    }

    70% {
        transform: scale(1.28);
    }

    80% {
        transform: scale(1.32);
    }

    90% {
        transform: scale(1.36);
    }

    100% {
        transform: scale(1.4);
    }

}

button {
    cursor: pointer;
    border: none;
}

@font-face {
    font-family: 'poppins';
    src: url('./fonts/poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}